@font-face {
  font-family: 'FontAwesome';
  src: url('../static/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../static/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../static/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../static/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../static/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../static/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../static/fonts/andika-regular2.woff2') format('woff2'), url('../static/fonts/andika-regular2.woff') format('woff'), url('../static/fonts/andika-regular2.ttf') format('truetype');
  font-family: Andika;
}
*{
  font-family: "Andika", sans-serif;;
}
body{
  color: #000!important;
  background-color: #f1f1f1!important;
}
/*font-awesome style*/
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5a76b9;
}
.fa-calendar:before {
  content: "\f073";
}
.fa-home:before {
  content: "\f015";
}
.fa-phone:before {
  content: "\f095";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-github:before {
  content: "\f09b";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
/* end font-awesome style*/
.margin-right{
  margin-right: 10px;
}
.progress-bar{
  background-color: #5a76b9;
}
p{
  margin-top: 1rem;
}
a{
  color: #757575!important;
}
.btn{
  background-color: #5a76b9;
  border-color: #5a76b9;
}
.text-color-black{
  color:black;
}
.text-color-purple{
  color: #5a76b9;
}
.content{
  max-width: 100%;
  margin: auto;
}

.margin-top{
  margin-top: 16px!important;
}

.card{
  color: #757575!important;
  background-color: #fff!important;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  margin-top: 1.5rem;
}